#title {
    text-align: center;
    color: lightblue;
    text-decoration: underline;
    font-size: 4em;
}

.grid {
    margin: auto;
    border: solid 2px white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 30px;
    height: 30px;
    border: dotted .1px white;

}

body {
    background-color:black;
}