#title {
    text-align: center;
    color: lightblue;
    text-decoration: underline;
    font-size: 4em;
}

.grid {
    margin: auto;
    border: solid 2px white;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.shooter {
    background-color: red;
}

body {
    background-color:black;
}